
* {
    line-height: 1.5;
}

body {
    font-family: Bradley Hand, cursive;
}

h1 {
    font-family: Bradley Hand, cursive;
    text-align: center;
    margin: 0;
    color: rgb(252, 75, 43);
}

.title {
    text-align: left;
}


.link-card {
    background-color: rgba(255, 99, 71, 0.2);
    text-align: center;
    border: 3px solid rgba(255, 99, 71, 0.8);
    border-radius: 20px;
    width: 450px;
    margin: 0 auto;
    padding: 10px;

    
}

.link-card ul {
    list-style: none;
    padding: 0;
    margin: 3px;
}

.link-card ul li {
    margin-bottom: 5px;
}

.link-card ul li a{
    text-decoration: underline;
    color:  rgba(255, 99, 71, 1);
    font-size: medium;
    font-weight: bold;
}

/*for the recipe pages*/

.recipe-card {
    width: 400px;
    background-color: #FFFAFA;   
    border: 2px solid yellow; 
    margin: 0 auto;
    padding: 20px;
}


.recipe-card h2{
    font-size: 20px;
    color:  rgb(255, 43, 5);
}

ol li{
    list-style-type: lower-roman;
}

img {
    height: auto;
    width: 250px;
}